* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00416a 50%, #00c6ff 50%);
}

.stopwatch-container {
  text-align: center;
}

#stopwatch {
  font-size: 48px;
  margin-bottom: 20px;
  color: rgb(21, 11, 11);
  border: 2px solid darkblue;
  padding: 10px;
  border-radius: 8px;
}

.buttons button {
  cursor: pointer;
  padding: 12px 24px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: rgb(15, 10, 10);
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
  background-color: #4fa3d1;
  transform: scale(1.05);
}

@media (max-width: 300px) {
  body {
    flex-direction: column;
    padding: 10px;
  }

  #stopwatch {
    font-size: 20px;
    padding: 6px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .buttons button {
    font-size: 12px;
    padding: 8px 12px;
  }
}
